Repository Shopify/kubeaudit, pull requests merged in 2019-09, with the labels that each got.

#221 --auditConfig --> --auditconfig in docs
  README.md
Labels: readme

#225 go get doesn't work readme update
  README.md
Labels: readme

#226 [BUG FIX] 224 fix go get
  README.md
  go.mod
Labels: go-modules, readme

#229 Support podtemplates
  cmd/k8sruntime_util.go
  cmd/types.go
  cmd/util.go
  fixtures/autofix-all-resources-fixed_v1.yml
  fixtures/autofix-all-resources_v1.yml
  fixtures/podtemplate_v1.yml
Labels: core, datafiles

#230 [Bug Fix] Change labels to valid syntax
  README.md
  cmd/result.go
  cmd/util.go
  fixtures/allow_privilege_escalation_misconfigured_allow_v1.yml
  fixtures/allow_privilege_escalation_misconfigured_allow_v1beta1.yml
  fixtures/allow_privilege_escalation_true_allowed_v1.yml
  fixtures/allow_privilege_escalation_true_allowed_v1beta1.yml
  fixtures/allow_privilege_escalation_true_multiple_allowed_multiple_containers_v1beta.yml
  fixtures/allow_privilege_escalation_true_single_allowed_multiple_containers_v1beta.yml
  fixtures/allowed_namespace_missing_default_deny_egress_netpol.yml
  fixtures/allowed_namespace_missing_default_deny_ingress_netpol.yml
  fixtures/allowed_namespace_missing_default_deny_netpol.yml
  fixtures/capabilities_misconfigured_allow_v1beta2.yml
  fixtures/capabilities_some_allowed_multi_containers_all_container_labels_v1beta2.yml
  fixtures/capabilities_some_allowed_multi_containers_mix_labels_v1beta2.yml
  fixtures/capabilities_some_allowed_multi_containers_some_container_labels_v1beta2.yml
  fixtures/capabilities_some_allowed_v1beta2.yml
  fixtures/host_IPC_true_allowed_v1.yml
  fixtures/host_PID_true_allowed_v1.yml
  fixtures/host_network_true_allowed_v1.yml
  fixtures/namespaces_all_true_allowed_v1.yml
  fixtures/namespaces_misconfigured_allow_v1.yml
  fixtures/privileged_misconfigured_allow_v1.yml
  fixtures/privileged_true_allowed_multi_containers_multi_labels_v1.yml
  fixtures/privileged_true_allowed_multi_containers_single_label_v1.yml
  fixtures/privileged_true_allowed_v1.yml
  fixtures/read_only_root_filesystem_false_allowed_multi_container_multi_labels_v1.yml
  fixtures/read_only_root_filesystem_false_allowed_multi_container_single_label_v1.yml
  fixtures/read_only_root_filesystem_false_allowed_v1.yml
  fixtures/read_only_root_filesystem_misconfigured_allow_v1.yml
  fixtures/run_as_non_root_false_allowed_v1.yml
  fixtures/run_as_non_root_misconfigured_allow_container_v1.yml
  fixtures/run_as_non_root_misconfigured_allow_pod_v1.yml
  fixtures/run_as_non_root_psc_false_allowed_multi_containers_multi_labels_v1.yml
  fixtures/run_as_non_root_psc_false_allowed_multi_containers_single_label_v1.yml
  fixtures/run_as_non_root_psc_false_allowed_v1.yml
  fixtures/service_account_token_misconfigured_allow_v1.yml
  fixtures/service_account_token_true_allowed_v1.yml
Labels: core, datafiles, readme
