Repository Shopify/kubeaudit, pull requests merged in 2019-05, with the labels that each got.

#210 update File is not a valid kubernetes manifest to return underlying parsing error
  cmd/util.go
Labels: core

#213 Custom resource definition fix
  cmd/types.go
  cmd/util_test.go
  fixtures/custom_resource_definition.yml
  go.mod
  go.sum
  scheme/register.go
Labels: core, datafiles, go-modules

#215 [BUG FIX] #203
  fixtures/autofix-all-resources-fixed_v1.yml
  fixtures/autofix-all-resources_v1.yml
  go.mod
  go.sum
Labels: datafiles, go-modules
