Repository Shopify/kubeaudit, pull requests merged in 2019-10, with the labels that each got.

#227 Replace Shopify/yaml with gopkg.in/yaml.v3
  cmd/autofix.go
  cmd/autofix_test.go
  cmd/autofix_util.go
  cmd/capabilities.go
  cmd/root.go
  cmd/util.go
  fixtures/autofix-all-resources-fixed_v1.yml
  fixtures/autofix-all-resources_v1.yml
  fixtures/autofix-fixed_v1.yml
  fixtures/autofix-namespace-missing-default-deny-netpol-fixed.yml
  fixtures/autofix-namespace-missing-default-deny-netpol.yml
  fixtures/autofix-single-unsupported-fixed_v1.yml
  fixtures/autofix-single-unsupported_v1.yml
  fixtures/autofix-unsupported-fixed_v1.yml
  fixtures/autofix-unsupported_v1.yml
  fixtures/preserve_comments-fixed_v2.yml
  fixtures/preserve_comments_v2.yml
  go.mod
  go.sum
Labels: core, datafiles, go-modules

#237 Switch travis to Go 1.12 and 1.13
  .travis.yml
  Makefile
Labels: config

#236 Log missing or wrong kubeconfig file
  cmd/util.go
Labels: core

#238 Log a string representation of the error id
  cmd/errors.go
  cmd/result.go
  cmd/result_test.go
Labels: core
