Repository Shopify/kubeaudit, pull requests merged in 2021-05, with the labels that each got.

#337 Remove Codecov
  .travis.yml
  README.md
Labels: help wanted, readme

#340 🐛 Fix the version
  README.md
  cmd/commands/VERSION
Labels: core, readme

#342 Use Github Actions
  .github/autolabeler.yml
  .github/workflows/ci.yml
  .travis.yml
  Makefile
  README.md
  test.sh
Labels: config, readme
