Repository Shopify/kubeaudit, pull requests merged in 2021-02, with the labels that each got.

#316 Add a new command to audit runAsUser fields
  auditors/nonroot/fix.go
  auditors/nonroot/fix_test.go
  auditors/nonroot/fixtures/run-as-user-0-allowed.yml
  auditors/nonroot/fixtures/run-as-user-0-run-as-non-root-false.yml
  auditors/nonroot/fixtures/run-as-user-0-run-as-non-root-true.yml
  auditors/nonroot/fixtures/run-as-user-0.yml
  auditors/nonroot/fixtures/run-as-user-1-run-as-non-root-false.yml
  auditors/nonroot/fixtures/run-as-user-1-run-as-non-root-true.yml
  auditors/nonroot/fixtures/run-as-user-psc-0-allowed-multi-containers-multi-labels.yml
  auditors/nonroot/fixtures/run-as-user-psc-0-allowed-multi-containers-single-label.yml
  auditors/nonroot/fixtures/run-as-user-psc-0-allowed.yml
  auditors/nonroot/fixtures/run-as-user-psc-0-csc-0.yml
  auditors/nonroot/fixtures/run-as-user-psc-0-csc-1-multiple-cont.yml
  auditors/nonroot/fixtures/run-as-user-psc-0-csc-1.yml
  auditors/nonroot/fixtures/run-as-user-psc-0-csc-nil-multiple-cont.yml
  auditors/nonroot/fixtures/run-as-user-psc-0-run-as-non-root-psc-false.yml
  auditors/nonroot/fixtures/run-as-user-psc-0-run-as-non-root-psc-true.yml
  auditors/nonroot/fixtures/run-as-user-psc-0.yml
  auditors/nonroot/fixtures/run-as-user-psc-1-csc-0.yml
  auditors/nonroot/fixtures/run-as-user-psc-1-run-as-non-root-psc-false.yml
  auditors/nonroot/fixtures/run-as-user-psc-1-run-as-non-root-psc-true.yml
  auditors/nonroot/fixtures/run-as-user-psc-1.yml
  auditors/nonroot/fixtures/run-as-user-redundant-override-container.yml
  auditors/nonroot/fixtures/run-as-user-redundant-override-pod.yml
  auditors/nonroot/nonroot.go
  auditors/nonroot/nonroot_test.go
  cmd/commands/nonroot.go
  docs/auditors/nonroot.md
Labels: core, go-modules, readme

#323 go mod tidy
  go.sum
Labels: go-modules

#324 flag formatting
  cmd/commands/capabilities.go
  docs/auditors/capabilities.md
Labels: core

#322 Adds a new 'mounts' command to audit sensitive host paths mounts
  README.md
  auditors/all/all.go
  auditors/mounts/config.go
  auditors/mounts/fixtures/docker-sock-mounted.yml
  auditors/mounts/fixtures/proc-mounted-allowed-multi-containers-multi-labels.yml
  auditors/mounts/fixtures/proc-mounted-allowed-multi-containers-single-label.yml
  auditors/mounts/fixtures/proc-mounted-allowed.yml
  auditors/mounts/fixtures/proc-mounted.yml
  auditors/mounts/mounts.go
  auditors/mounts/mounts_test.go
  cmd/commands/all.go
  cmd/commands/mounts.go
  config/config.go
  config/config.yaml
  docs/auditors/mounts.md
Labels: core, readme
