Repository Shopify/kubeaudit, pull requests merged in 2022-03, with the labels that each got.

#406 :bug: Fix PR welcome message to contributing guidelines
  .github/welcome.yml
Labels: config

#410 Upgrade to go 1.17
  .github/workflows/ci.yml
  Dockerfile
  Makefile
  README.md
  go.mod
  goreleaser.Dockerfile
Labels: config, readme, go-modules

#416 Bump version
  cmd/commands/VERSION
Labels: core
